b2betown/ETS2.VAS.Service/Web References/WebReference1/httpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:tns="http://service.ts.bjlyw.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" targetNamespace="http://service.ts.bjlyw.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ts.bjlyw.com">
      <xsd:element name="getProductInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="organization" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="xml" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProductInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEleInterface">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="organization" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="xml" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEleInterfaceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getProductInfoRequest">
    <wsdl:part name="parameters" element="tns:getProductInfo" />
  </wsdl:message>
  <wsdl:message name="getEleInterfaceResponse">
    <wsdl:part name="parameters" element="tns:getEleInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="getEleInterfaceRequest">
    <wsdl:part name="parameters" element="tns:getEleInterface" />
  </wsdl:message>
  <wsdl:message name="getProductInfoResponse">
    <wsdl:part name="parameters" element="tns:getProductInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketServicePortType">
    <wsdl:operation name="getProductInfo">
      <wsdl:input name="getProductInfoRequest" message="tns:getProductInfoRequest" />
      <wsdl:output name="getProductInfoResponse" message="tns:getProductInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEleInterface">
      <wsdl:input name="getEleInterfaceRequest" message="tns:getEleInterfaceRequest" />
      <wsdl:output name="getEleInterfaceResponse" message="tns:getEleInterfaceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ITicketServiceHttpBinding" type="tns:ITicketServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProductInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getProductInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProductInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEleInterface">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getEleInterfaceRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEleInterfaceResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITicketService">
    <wsdl:port name="ITicketServiceHttpPort" binding="tns:ITicketServiceHttpBinding">
      <wsdlsoap:address location="http://180.184.100.186:3177/ticketservice/httpService.ts" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>