b2betown/ETS2.WebApp/Web References/cn.etown.image/ImgUploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpLoadAndSave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="virPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpLoadAndSaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpLoadAndSaveResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="virPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="savepath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpLoadAndSaveSoapIn">
    <wsdl:part name="parameters" element="tns:UpLoadAndSave" />
  </wsdl:message>
  <wsdl:message name="UpLoadAndSaveSoapOut">
    <wsdl:part name="parameters" element="tns:UpLoadAndSaveResponse" />
  </wsdl:message>
  <wsdl:message name="DelFileSoapIn">
    <wsdl:part name="parameters" element="tns:DelFile" />
  </wsdl:message>
  <wsdl:message name="DelFileSoapOut">
    <wsdl:part name="parameters" element="tns:DelFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ImgUploadServiceSoap">
    <wsdl:operation name="UpLoadAndSave">
      <wsdl:input message="tns:UpLoadAndSaveSoapIn" />
      <wsdl:output message="tns:UpLoadAndSaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelFile">
      <wsdl:input message="tns:DelFileSoapIn" />
      <wsdl:output message="tns:DelFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImgUploadServiceSoap" type="tns:ImgUploadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpLoadAndSave">
      <soap:operation soapAction="http://tempuri.org/UpLoadAndSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFile">
      <soap:operation soapAction="http://tempuri.org/DelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImgUploadServiceSoap12" type="tns:ImgUploadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpLoadAndSave">
      <soap12:operation soapAction="http://tempuri.org/UpLoadAndSave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFile">
      <soap12:operation soapAction="http://tempuri.org/DelFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImgUploadService">
    <wsdl:port name="ImgUploadServiceSoap" binding="tns:ImgUploadServiceSoap">
      <soap:address location="http://image.etown.cn/ImgUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImgUploadServiceSoap12" binding="tns:ImgUploadServiceSoap12">
      <soap12:address location="http://image.etown.cn/ImgUploadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>